ELASTIC_PASSWORD=ELASTIC_PASSWORD
KIBANA_SYSTEM_PASSWORD=KIBANA_PASSWORD
LOGSTASH_SYSTEM_PASSWORD=LOGSTASH_PASSWORD

# Cloudinary
CLOUD_NAME=
CLOUD_API_KEY=
CLOUD_API_SECRET=

# Stripe
STRIPE_SECRET=
WEBHOOK_SECRET=

#Mail
MAIL_USERNAME=
MAIL_APP_PASSWORD=pass_16_ky_tu_khong_chua_khoang_trang

#Recaptcha
RECAPTCHA_SECRET=

#Google login
GOOGLE_CLIENT_ID=

# default user password after reset (default "123456" if not set)
DEFAULT_USER_PASSWORD=123456

# Rate limit per IP
RATE_LIMIT=40