# Database
MYSQL_ROOT_PASSWORD=your_root_password
MYSQL_DATABASE=auction_db
MYSQL_USER=your_app_user
MYSQL_PASSWORD=your_app_password

#CORS
CORS=

# Elasticsearch
ELASTIC_PASSWORD=ELASTIC_PASSWORD
KIBANA_SYSTEM_PASSWORD=KIBANA_PASSWORD
LOGSTASH_SYSTEM_PASSWORD=LOGSTASH_PASSWORD

# Cloudinary(https://console.cloudinary.com/app)
CLOUD_NAME=
CLOUD_API_KEY=
CLOUD_API_SECRET=

#Mail
MAIL_USERNAME=
MAIL_APP_PASSWORD=pass_16_ky_tu_khong_chua_khoang_trang

#Recaptcha
RECAPTCHA_SECRET=

#Google login
GOOGLE_CLIENT_ID=

# Stripe (https://dashboard.stripe.com/)
BACKEND_URL=
STRIPE_SECRET=
WEBHOOK_SECRET=

# default user password after reset (default "123456" if not set)
DEFAULT_USER_PASSWORD=123456

# Rate limit per IP
RATE_LIMIT=40

# JWT Secret Key
JWT_SECRET_KEY=t2YO0HdF3asOEgMEy9g2YQ9N9Jtwq+op9Ir5VnIYIYs=